[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/healthcare-portal-main
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/healthcare-portal-main/healthportal/healthportal.sock healthportal.wsgi:application

       
[Install]
WantedBy=multi-user.target