{% extends 'appointment_dashboard.html' %}
{% block body %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Appointments</h6>
    </div>
  
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Doctor Name</th>
          <th>Patient Name</th>
          <th>symptoms</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      {% for a in appointments %}
        
      <tr>
    
        <td> {{a.assigned_doctors}}</td>
        <td>{{a.first_name}}</td>
        <td>{{a.symptoms}}</td>
        <td>{{a.date}}</td>
        <td>{{a.status}}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
</div>


{% endblock body %}
